# Peer-graded Assignment

*This notebook was made for the needs of the Week 4 final project of the Tools for Data Science course*

### Data Science Languages

<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Scala</li>
  <li>Java</li>
  <li>C++</li>
  <li>Julia</li>
  <li>JS</li>
  <li>PHP</li>
  <li>Golang</li>
  <li>Ruby</li>
  <li>Visual Basic</li>
</ul>

### Data Science Libraries

<ul>
  <li>Pandas</li>
  <li>Numpy</li>
  <li>Matplotlib</li>
  <li>Seaborn</li>
  <li>Scikit-Learn</li>
  <li>Keras</li>
  <li>Tensorflow</li>
  <li>Pytorch</li>
  <li>Apache Spark</li>
  <li>Vegas</li>
  <li>Big DL</li>
  <li>GGplot2</li>
</ul>

### Data Science Tools

<table align="left">
  <tr>
    <th>Data Management</th>
    <th>Data Integration and Transformation</th>
    <th>Data Visualization</th>
    <th>Model Deployment</th>
    <th>Model Monitoring and Assessment</th> 
    <th>Code Asset Management</th>
    <th>Data Asset Management</th>
    <th>Development Environments</th>
    <th>Execution Environments</th>
    <th>Fully Integrated Visual Tools</th>
  </tr>
  <tr>
    <td>MySQL</td>
    <td>Apache AirFlow</td>
    <td>Hue</td>
    <td>Apache PredictionIO</td>
    <td>ModelIDB</td>
    <td>Git</td>
    <td>Apache Atlas</td>
    <td>Jupyter</td>
    <td>Apache Spark</td>
    <td>KNIME</td>
  </tr>
  <tr>
    <td>PostgreSQL</td>
    <td>KubeFlow</td>
    <td>Kibana</td>
    <td>Seldon</td>
    <td>Prometheus</td>
    <td>GitHub</td>
    <td>ODPi Egeria</td>
    <td>JupyterLab</td>
    <td>Apache Flink</td>
    <td>Orange</td>
  </tr>
  <tr>
    <td>MongoDB</td>
    <td>Apache Kafka</td>
    <td>Apache Superset</td>
    <td>MLeap</td>
    <td>IBM AI Fairness 360</td>
    <td>GitLab</td>
    <td>Kylo</td>
    <td>Apache Zeppelin</td>
    <td>Ray</td>
    <td></td>
  </tr>
  <tr>
    <td>Apache CouchDB</td>
    <td>Apache Nifi</td>
    <td></td>
    <td>TensorFlow Service</td>
    <td>IBM Adversarial Robustness 360 Toolbox</td>
    <td>Bitbucket</td>
    <td></td>
    <td>RStudio</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Cassandra</td>
    <td>Apache Spark SQL</td>
    <td></td>
    <td>TensorFlow Lite</td>
    <td>IBM AI Explainability 360</td>
    <td></td>
    <td></td>
    <td>Spyder</td>
    <td></td>
    <td></td>
  </tr>
    <td>Hadoop File System</td>
    <td>NodeRed</td>
    <td></td>
    <td>TensorFlow JS</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <tr>
    <td>Ceph</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Elasticsearch</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

### Arithmetic Expression Examples

In [7]:
# Addition
print(1+1)

2

In [8]:
# Subtraction
print(10-5)

5

In [9]:
# Multiplication
print(10*5)

50

In [12]:
# Division
print(40/5)

8.0

In [11]:
# Quotient
print(9//2)

4

In [13]:
# Remainder
print(9%2)

1

In [15]:
# Exponent
print(2**3)

8

### Multiply and Add Numbers

In [6]:
# Multiply
print(12*12)

144

In [5]:
# Addition
print(10+10)

20

### Convert minutes to hours

In [21]:
def mintohou(x):
    print(x, 'minutes =', int(x/60), 'Hours')

mintohou(120)

120 minutes = 2 Hours

### Objectives

In [19]:
<ul>
  <li>Notebook</li>
  <li>R</li>
  <li>SQL</li>
</ul>

Hello

### Author’s name

*Muhammad Fadhil*